<nav class="top-navbar " >

    <button class="btn d-lg-none me-3" type="button" data-bs-toggle="offcanvas" data-bs-target="#sidebarMenu">
      <i class="fa-solid fa-bars"></i>
    </button>


    <div class="search-box">

        <i class="fa-solid fa-magnifying-glass"></i>

        <input
            type="text"
            placeholder="Search team members..."
        >

    </div>


    <div class="navbar-right">

        <div class="icon-btn">
            <i class="fa-regular fa-bell"></i>
        </div>

        <div class="icon-btn">
            <i class="fa-regular fa-circle-question"></i>
        </div>


        <div class="profile-section">

            <img
                src="https://i.pravatar.cc/40"
                alt="profile"
            >

            <div>

                <h6>Employee 1</h6>

                <p>Admin</p>

            </div>

        </div>

    </div>

</nav>