<nav class="top-navbar">

    <button class="btn d-lg-none me-3" type="button" data-bs-toggle="offcanvas" data-bs-target="#sidebarMenu">
        <i class="fa-solid fa-bars"></i>
    </button>

    <div class="search-box">

        <i class="fa-solid fa-magnifying-glass"></i>

        <input
            type="text"
            placeholder="Search team members..."
        >

    </div>

    <div class="navbar-right">

        <div class="icon-btn">
            <i class="fa-regular fa-bell"></i>
        </div>

        <div class="icon-btn">
            <i class="fa-regular fa-circle-question"></i>
        </div>

        <div class="dropdown profile-dropdown-wrapper" [class.show]="isProfileMenuOpen">

            <button
                class="profile-section dropdown-toggle"
                type="button"
                [attr.aria-expanded]="isProfileMenuOpen"
                (click)="toggleProfileMenu()"
            >

                <img
                    src="https://i.pravatar.cc/40"
                    alt="profile"
                >

                <div class="profile-info">

                    <h6>{{ user?.name || 'Employee 1' }}</h6>

                    <p>{{ user?.role || 'Admin' }}</p>

                </div>

            </button>

            <ul class="dropdown-menu dropdown-menu-end profile-dropdown" [class.show]="isProfileMenuOpen">

                <li>
                    <a class="dropdown-item" routerLink="/profile" (click)="closeProfileMenu()">
                        <i class="fa-regular fa-user"></i>
                        View Profile
                    </a>
                </li>

                <li><hr class="dropdown-divider"></li>

                <li>
                    <button class="dropdown-item logout-item" type="button" (click)="logout()">
                        <i class="fa-solid fa-right-from-bracket"></i>
                        Logout
                    </button>
                </li>

            </ul>

        </div>

    </div>

</nav>
